body {
    background: url(bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}

.text{
    padding-top: 90px;
    padding-right: 60px;
}


.btnn{
    margin-top: 15px;
    margin-left: 30px;
}